body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.profile-img {
    width: 150px;
    border: 5px solid #333;
    transition: transform 0.3s;
}

.profile-img:hover {
    transform: scale(1.05);
}

.social-icons a {
    color: #333;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #555;
}

.project-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.btn-outline-dark {
    border-width: 2px;
}
